### Feature Engineering for NLP in Python

1. Text-Preprocessing
    - Standardization : Conversion of all text to their lower case form and base form.
    - Vectorization : Conversion of all text to numerical numbers.
    
    
2. Basic Feature Extraction : It may be useful to know
    - Word Count.
    - Character Count.
    - Average length of words.
    - Special Features :In case of niche data such as tweets, it may be useful to know count of hastags and count of mentions in the         tweeted message.
    
    
3. Part of Speech tagging (POS tagging) : It may be useful to know the part of speech for each word.


4. Named Entity Recognition : It may be useful to know whether a noun word refers to an organization or a person.


5. Other Features :
    - Number of Sentences.
    - Number of Paragraphs.
    - Words starting with an upper case.
    - Words containing numbers.
    - All capital words.

### Basic Feature Extraction

1. Character count

In [12]:
def charCount(text):
    return len(text)

text = 'Armaan Foundation is here'
charCount(text)

25

In [18]:
import pandas as pd

df = pd.DataFrame()
df['text'] = ['@Armaan Foundation is here', 'We are growing', 'AI is progressing', '#AI revolution']
df['numChar'] = df['text'].apply(charCount)

In [19]:
df

                         text  numChar
0  @Armaan Foundation is here       26
1              We are growing       14
2           AI is progressing       17
3              #AI revolution       14

2. Word count

In [20]:
def wordCount(text):
    words = text.split()
    return len(words)


df['numWords'] = df['text'].apply(wordCount)

In [21]:
df

                         text  numChar  numWords
0  @Armaan Foundation is here       26         4
1              We are growing       14         3
2           AI is progressing       17         3
3              #AI revolution       14         2

3. Average Word Length

In [24]:
def avgWordLen(text):
    words = text.split()
    wordLen = [len(word) for word in words]
    return sum(wordLen)/len(words)

df['avgWordLength'] = df['text'].apply(avgWordLen)

In [25]:
df

                         text  numChar  numWords  avgWordLength
0  @Armaan Foundation is here       26         4           5.75
1              We are growing       14         3           4.00
2           AI is progressing       17         3           5.00
3              #AI revolution       14         2           6.50

### Special Features

1. Hashtag count : Checking if a tweeted message contains any hashtags and if it does how many.

In [29]:
def hashtagsCount(text):
    words = text.split()
    hashtags = [word for word in words if word.startswith('#')]
    return len(hashtags)


text = "@Armaan foundation is here #AI #MachineLearning #BigData Booming"
hashtagsCount(text)

3

2. Mentions count: Checking if a tweeted message contains any mentions and if it does how many.

In [33]:
def mentionsCount(text):
    words = text.split()
    mentions = [word for word in words if word.startswith('@')]
    return len(mentions)


text = "@Armaanfoundation is here #AI #MachineLearning #BigData @Michigan"
mentionsCount(text)

2